<mat-card class="contact-card">


  <div class="contenedor">

    <h1>Registro de Datos Solicitante</h1>


    <mat-form-field>
      <input matInput [(ngModel)]="solicitante.identificacion" type="text" placeholder="Ingrese la identificacion">
    </mat-form-field>
  
    <mat-form-field>
        <input matInput [(ngModel)]="solicitante.nombre" type="text" placeholder="Ingrese el nombre">
    </mat-form-field>

    
    <mat-form-field>
      <input matInput [(ngModel)]="solicitante.correo" type="text" placeholder="Ingrese el correo">
    </mat-form-field>


    
    <mat-form-field>
      <input matInput [(ngModel)]="solicitante.telefono" type="text" placeholder="Ingrese el telefono">
    </mat-form-field>

  
    
    <div>
      
      <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>

    </div>
    
  </div>

</mat-card>