
<mat-card class="contact-card">

  <mat-stepper [linear]="isLinear" #stepper>

    <mat-step [stepControl]="firstFormGroup">

      <ng-template matStepLabel>Registro de datos</ng-template>

      <form [formGroup]="firstFormGroup">

        <mat-grid-list cols="2" rowHeight="4:1">
          <mat-grid-tile>

            <mat-form-field >

              <mat-label>selecione el motivo</mat-label>
              <mat-select formControlName="motivo">

                <mat-option *ngFor="let nav of motivos" [value]="nav.nombre"
                (click)="cargarDescripcion(nav.descripcion)">{{nav.nombre}}</mat-option>

              </mat-select>
              <mat-hint>descripción: {{desripcionMotivo}}</mat-hint>
              <mat-error *ngIf="this.firstFormGroup.controls['motivo'].hasError('required')">
                Es necesario que seleccione el motivo
              </mat-error>
            </mat-form-field>

          </mat-grid-tile>

          <mat-grid-tile>

            <mat-form-field>
              <mat-label>selecione el la poblacion</mat-label>
              <mat-select formControlName="poblacion">

                <mat-option *ngFor="let nav of poblaciones" [value]="nav.nombre">{{nav.nombre}}</mat-option>

              </mat-select>

              <mat-error *ngIf="this.firstFormGroup.controls['poblacion'].hasError('required')">
                Es necesario que seleccione la poblacion
              </mat-error>

            </mat-form-field>

          </mat-grid-tile>

        </mat-grid-list>

        <div>
          <button mat-button matStepperNext>siguiente</button>
        </div>
      </form>

    </mat-step>

    <mat-step>
      <ng-template matStepLabel>terminado</ng-template>

      <div style="margin: 20px;">
        <p>Datos obtenidos, si no requiere hacer algun cambio puede registrar el turno</p>
      </div>

      <div>
        <button mat-button matStepperPrevious>regresar</button>
        <button mat-button (click)="registrar()">registrar</button>
      </div>
    </mat-step>


  </mat-stepper>


</mat-card>
