<mat-card class="contact-card">

<h1>Hola</h1>
<p>bienvenido al sistema de citas de sisben, enlaces de interes: </p>
<ul>
  <li><a href='https://www.sisben.gov.co/Paginas/landing.html'>Pagina Sisben</a> </li>
</ul>

<p>si necesitas ayuda puedes: </p>

<div class="card-group" >

  <div class="card">
    <img class="card-img-top" src="https://d31dn7nfpuwjnm.cloudfront.net/images/valoraciones/0029/5446/sisben.png?1518035431" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">consulta tu clasificacion</h5>
      <p class="card-text" style="text-align: justify;">El Sisbén busca ordenar la población mediante una clasificación generada a partir de su capacidad para generar ingresos, de acuerdo con sus condiciones de vida e identificar de manera rápida y objetiva a la población en situación de pobreza y vulnerabilidad para focalizar la inversión social y garantizar que esta sea asignada a quienes más lo necesitan.</p>
      <p class="card-text"><small class="text-muted"><li><a href='https://www.sisben.gov.co/Paginas/consulta-tu-grupo.html'>Consulta tu puntaje de sisben</a></li></small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="https://www.sisben.gov.co/Paginas/index/images/adicionar_persona@2x.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Pide ayuda a un asesor</h5>
      <p class="card-text">Conmutador: +57 (601) 381 5000
      Línea gratuita anticorrupción: 01-800-121221, op. 2
      <br> Correo institucional: servicioalciudadano@dnp.gov.co
      <br> Buzón de notificaciones DNP: notificacionesjudiciales@dnp.gov.co
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="https://img.freepik.com/vector-premium/calendario-2024-espanol_503750-1686.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">calendario 2024</h5>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted"></small></p>

    </div>
  </div>

</div>

</mat-card>
