<mat-card class="contact-card">


  <div class="contenedor">

    <h1>Edicion de motivos</h1>


    <mat-form-field>
      <input matInput [(ngModel)]="poblacion.nombre" type="text" placeholder="Ingrese el nombre">
    </mat-form-field>
  
    <mat-form-field>
        <input matInput [(ngModel)]="poblacion.prioridad" type="number" placeholder="Ingrese la prioridad">
    </mat-form-field>
    
    <div>
      
    <button mat-raised-button color="primary" style="margin-right: 20px;">Editar</button>
  
    <button mat-raised-button color="primary">Eliminar</button>

    
    
    </div>

  </div>

</mat-card>